<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/stylehome.css" type="text/css">
    <link rel="stylesheet" href="css/responsivehome.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="css/owl.theme.default.css" type="text/css">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <title>Cooking recipes</title>
</head>
<body>
<header class="header" >
    <%- include("header")%>
</header>
<section class="main">
    <div class="container">
        <div class="col-md-12">
            <div class="tag">RECOMMENDED</div>
            <div class="owl-carousel owl-theme">
                <div class="item"><a href="/do-uong/tralipton"><img src="images/bosuatuoi.jpg"></a></div>
                <div class="item"><a href="/do-uong/tralipton"><img src="images/canuc.jpg"></a></div>
                <div class="item"><a href="/do-uong/tralipton"><img src="images/chekhoai.jpg"></a></div>
                <div class="item"><a href="/do-uong/tralipton"><img src="images/penne.jpg"></a></div>
                <div class="item"><a href="/do-uong/tralipton"><img src="images/suonxao.jpg"></a></div>
                <div class="item"><a href="/do-uong/tralipton"><img src="images/tauhu.jpg"></a></div>
                <div class="item"><a href="/do-uong/tralipton"><img src="images/thithap.jpg"></a></div>
                <div class="item"><a href="/do-uong/tralipton"><img src="images/vai.jpg"></a></div>
            </div>
            <div class="category">
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a href="/do-uong"><img class="icon" src="images/breakfast.png"><br><span>Ăn sáng</span></a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a href="/do-uong"><img class="icon" src="images/drink.png"><br><span>Đồ uống</span></a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a href="/do-uong"><img class="icon" src="images/fast-food.png"><br><span>Fastfood</span></a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a href="/do-uong"><img class="icon" src="images/panna-cotta.png"><br><span>Bánh ngọt</span></a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a href="/do-uong"><img class="icon" src="images/noodles.png"><br><span>Mỳ, Phở</span></a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a href="/do-uong"><img class="icon" src="images/lau.png"><br><span>Lẩu</span></a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a href="/do-uong"><img class="icon" src="images/monchinh.png"><br><span>Món chính</span></a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a href="/do-uong"><img class="icon" src="images/soup.png"><br><span>Súp</span></a>
                </div>
            </div>
            <div class="tag col-md-12 col-sm-12 col-xs-12">TĂNG ĐỀ KHÁNG MÙA COVID</div>
            <div class="covid" id="covid">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="recipes">
                        <a href="/do-uong/tralipton">
                            <img class="cover" src="images/recipe1.jpg">
                            <h3>Cá nục kho cà</h3>
                            <p>Cá Nục Kho Cà Chua là món ăn ngon quen thuộc trong các bữa cơm gia đình Việt. Cá nục kho bùi, quyện sốt cà chua cùng nước dừa và gia vị nêm nếm đậm đà chắc chắn khiến bạn phải xiêu lòng.</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="recipes">
                        <a href="/do-uong/tralipton">
                            <img class="cover" src="images/recipe2.jpg">
                            <h3>Bún mọc sườn heo</h3>
                            <p>Bún mọc sườn heo là món ăn ngon giúp đổi vị cho bữa cơm gia đình bạn. Với sườn mềm ngọt thịt,
                                mọc dai dai hòa trong nước lèo thanh nhẹ trong vắt sẽ giúp món ăn không bao giờ bị ngán.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="recipes">
                        <a href="/do-uong/tralipton">
                            <img class="cover" src="images/recipe3.jpg">
                            <h3>Bò hầm bí đỏ hạt sen</h3>
                            <p>Bò hầm bí đỏ hạt sen không chỉ là món ăn ngon dành cho bé yêu nhà bạn mà còn vô cùng bổ dưỡng.
                                Món ăn với thịt bò được hầm mềm cùng bí đỏ và hạt sen bùi thơm. </p>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="recipes">
                        <a href="/do-uong/tralipton">
                            <img class="cover" src="images/recipe4.jpeg">
                            <h3>Trà lipton cam thảo</h3>
                            <p>Trà Lipton cam thảo là một trong những biến tấu đặc biệt từ trà Lipton truyền thống,
                                được kết hợp giữa các nguyên liệu tự nhiên có hương thơm thanh mát và nhẹ nhàng.
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="button col-md-12 col-sm-12 col-xs-12">
                <button type="button" onclick="loadmore()" class="btn-success">Xem thêm...</button>
            </div>
            <div class="tag col-md-12 col-sm-12 col-xs-12">ĂN SÁNG</div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="recipes">
                    <a href="/do-uong/tralipton">
                        <img class="cover" src="images/recipe9.jpeg">
                        <h3>Mug Cake Dừa</h3>
                        <p>Mug Cake Dừa là một loại bánh bạn có thể hoàn thành một cách nhanh chóng chỉ trong vòng 10 phút.
                            Nếu bạn là một người bận rộn và yêu thích đồ ngọt, đây sẽ là một món hoàn hảo dành cho bạn.</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="recipes">
                    <a href="/do-uong/tralipton">
                        <img class="cover" src="images/recipe10.jpeg">
                        <h3>Opera Cake</h3>
                        <p>Opera là một loại bánh ngọt có nguồn gốc từ Pháp. Bánh Opera bao gồm 7 lớp, được làm từ cốt bánh hạnh nhân,
                            chocolate, syrup cà phê và kem bơ cà phê, tượng trưng cho 7 nốt nhạc.
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="recipes">
                    <a href="/do-uong/tralipton">
                        <img class="cover" src="images/recipe11.jpeg">
                        <h3>Bánh Mì Mè Đen</h3>
                        <p>Bánh mì mè đen Hàn Quốc là một món ăn vặt rất được ưa chuộng trong giới trẻ hiện nay.
                            Bánh mì giòn bên ngoài, dẻo bên trong, hòa với mùi mè đen rang thơm lừng sẽ làm bạn ăn không ngừng đấy.  </p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="recipes">
                    <a href="/do-uong/tralipton">
                        <img class="cover" src="images/recipe12.jpg">
                        <h3>Bánh cuốn</h3>
                        <p>Bánh Cuốn Nóng - món ngon dễ làm, cực hấp dẫn cho bữa sáng gia đình. Cách làm bánh cuốn
                            bằng chảo chống dính đơn giản, vỏ bánh cuốn dai, nhân nấm, thịt băm xào đậm vị, béo bùi, thật khó cưỡng lại.
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer-bs">
    <%- include("footer") %>
</footer>
<script src="js/jquery-3.6.0.js" type="text/javascript"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script src="js/owl.carousel.js" type="text/javascript"></script>
<script src="js/main.js" type="text/javascript"></script>
</body>
</html>