<div class="header__navbar">
    <nav class="nav__menu">
        <div class="nav__logo">
            <a href="/" class="nav__logo-link">
                Good Foods
            </a>
        </div>
        <ul class="nav__list">
            <li class="nav__item"><a href="/" class="nav__item-link">Home</a></li>
            <li class="nav__item"><a href="/cookingrecipes" class="nav__item-link">Cooking recipe</a></li>
            <li class="nav__item"><a href="/news" class="nav__item-link">News</a></li>
            <li class="nav__item"><a href="/contact" class="nav__item-link">Contact</a></li>
        </ul>

        <div class="nav__hotline">
            <a href="tel:0123456789">Hotline: 0123456789</a>
        </div>
        <label class="menu-icon" for="nav-mobile-input">
            <span class="icon-list glyphicon glyphicon-th-list"></span>
        </label>
        <input type="checkbox" hidden name="" class="nav-input" id="nav-mobile-input">
        <label class="nav__overlay" for="nav-mobile-input"></label>
        <div class="nav-mobile">
            <label class="nav-mobile-close" for="nav-mobile-input">
                <span class="glyphicon glyphicon-remove"></span>
            </label>
            <ul class="menu-list">
                <li class="menu__item"><a href="/" class="menu__item-link">Home</a></li>
                <li class="menu__item"><a href="/cookingrecipes" class="menu__item-link">Cooking recipe</a></li>
                <li class="menu__item"><a href="/news" class="menu__item-link">News</a></li>
                <li class="menu__item"><a href="/contact" class="menu__item-link">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>