<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/stylehome.css" type="text/css" />
    <link rel="stylesheet" href="css/responsivehome.css" type="text/css" />
    <link rel="stylesheet" href="css/news.css" type="text/css" />
    <title>News</title>
</head>
<body>
<header class="header">
    <%- include("header")%>
</header>

<section class="main">
    <div class="container">
        <div class="col-md-12">
            <div class="tag">New</div>
            <div class="col-md-12">
                <div class="main-title">Hotel</div>
                <div class="new-item col-md-12">
                    <div class="img">
                        <a href="/news/news1">
                            <img src="images/khachsan-1.jpg" alt="" />
                        </a>
                    </div>
                    <div class="new-content">
                        <div class="new-title">
                            <a href="/news/news1">
                                Special days not to be missed during the 2016 festive season
                                at Caravelle Hotel
                            </a>
                        </div>
                        <div class="new-date">
                            <span>01/12/2016 | 18:49</span>
                        </div>
                        <div class="new-des">
                            Many exciting activities during the festive season are waiting
                            for you to discover at Caravelle Hotel.
                        </div>
                    </div>
                </div>
                <div class="new-item col-md-12">
                    <div class="img">
                        <a href="/news/news1">
                            <img src="images/khachsan-2.jpg" alt="" />
                        </a>
                    </div>
                    <div class="new-content">
                        <div class="new-title">
                            <a href="/news/news1">Bamboo Chic interacts with famous chef Martin Yan
                            </a>
                        </div>
                        <div class="new-date">
                            <span>01/12/2016 | 17:55</span>
                        </div>
                        <div class="new-des">
                            Chef Martin Yan, who was named "Chef King" was present in
                            Vietnam in the last days of November 2016. Also on this
                            occasion, he had a reunion with Lai Kuan Geo - the guest chef
                            of Bamboo Chic restaurant from Cape Town, South Africa.
                        </div>
                    </div>
                </div>
                <div class="new-item col-md-12">
                    <div class="img">
                        <a href="/news/news1">
                            <img src="images/khachsan-3.jpg" alt="" />
                        </a>
                    </div>
                    <div class="new-content">
                        <div class="new-title">
                            <a href="/news/news1">Merry Christmas at Anantara Mui Ne Resort</a>
                        </div>
                        <div class="new-date">
                            <span>11/30/2016 | 12:52</span>
                        </div>
                        <div class="new-des">
                            Stepping into the green space at Anantara Mui Ne Resort, you
                            can celebrate Christmas with your loved ones in a cluster of
                            beachfront villas with lively decorations, that's when you
                            start enjoying the peaceful season.
                        </div>
                    </div>
                </div>
                <div class="new-item col-md-12">
                    <div class="img">
                        <a href="/news/news1">
                            <img src="images/khachsan-4.jpg" alt="" />
                        </a>
                    </div>
                    <div class="new-content">
                        <div class="new-title">
                            <a href="/news/news1">
                                Celebrate the festival at the InterContinental Saigon Hotel
                            </a>
                        </div>
                        <div class="new-date">
                            <span>26/11/2016 | 13:54</span>
                        </div>
                        <div class="new-des">
                            This year, InterContinental Saigon Hotel is pleased to
                            introduce a variety of unique and diverse culinary and
                            entertainment programs for all those who are looking for the
                            perfect place to enjoy delicious meals and luxurious space. ,
                            cozy with your loved ones.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="main-title">Hometown flavor</div>
                <div class="new-item col-md-12">
                    <div class="img">
                        <a href="/news/news1">
                            <img src="images/amthuc-1.jpg" alt="" />
                        </a>
                    </div>
                    <div class="new-content">
                        <div class="new-title">
                            <a href="/news/news1">Red oyster porridge </a>
                        </div>
                        <div class="new-date">
                            <span>10/06/2021 | 20:31</span>
                        </div>
                        <div class="new-des">
                            Summer is the season when red scallops appear a lot in O Loan
                            lagoon. At this time, people living around the lagoon wear
                            glasses to dive into the lagoon to catch scallops and bring
                            them back, some to eat, part to sell to markets and shops
                            along the lagoon.
                        </div>
                    </div>
                </div>
                <div class="new-item col-md-12">
                    <div class="img">
                        <a href="/news/news1">
                            <img src="images/amthuc-2.jpg" alt="" />
                        </a>
                    </div>
                    <div class="new-content">
                        <div class="new-title">
                            <a href="/news/news1">Eat snails all day </a>
                        </div>
                        <div class="new-date">
                            <span>09/06/2021 | 20:35</span>
                        </div>
                        <div class="new-des">
                            This is a flat, round, smooth, multicolored snail with a tiny
                            shape like a button, so the people of Quang Ngai in my
                            hometown call it a button snail.
                        </div>
                    </div>
                </div>
                <div class="new-item col-md-12">
                    <div class="img">
                        <a href="/news/news1">
                            <img src="images/amthuc-3.jpg" alt="" />
                        </a>
                    </div>
                    <div class="new-content">
                        <div class="new-title">
                            <a href="/news/news1">Country fried lemongrass frog </a>
                        </div>
                        <div class="new-date">
                            <span>08/06/2021 | 20:35</span>
                        </div>
                        <div class="new-des">
                            On the day off, the whole family was buzzing in the kitchen
                            when they heard his voice in the alley: "The first frog in the
                            season is here, lunch has a special delicious dish!".
                        </div>
                    </div>
                </div>
                <div class="new-item col-md-12">
                    <div class="img">
                        <a href="/news/news1">
                            <img src="images/amthuc-4.jpg" alt="" />
                        </a>
                    </div>
                    <div class="new-content">
                        <div class="new-title">
                            <a href="/news/news1">Beef dot seasoning sauce Sa Huynh</a>
                        </div>
                        <div class="new-date">
                            <span>05/06/2021 | 20:27</span>
                        </div>
                        <div class="new-des">
                            Beef can cook many delicious dishes: stir-fry, cook hot pot,
                            mix salad... Not satisfied yet? Try boiled beef with Sa Huynh
                            seasoning sauce!
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="main-title">Unique cuisine</div>
                <div class="new-item col-md-12">
                    <div class="img">
                        <a href="/news/news1">
                            <img src="images/amthuc-ds-1.jpg" alt="" />
                        </a>
                    </div>
                    <div class="new-content">
                        <div class="new-title">
                            <a href="/news/news1"
                            >Unique cup of coffee finished drinking ... chew always!
                            </a>
                        </div>
                        <div class="new-date">
                            <span>04/03/2015 | 10:35</span>
                        </div>
                        <div class="new-des">
                            The first cup of coffee that can be eaten has always been
                            developed and appeared on the market since 2003.
                        </div>
                    </div>
                </div>
                <div class="new-item col-md-12">
                    <div class="img">
                        <a href="/news/news1">
                            <img src="images/amthuc-ds-2.jpg" alt="" />
                        </a>
                    </div>
                    <div class="new-content">
                        <div class="new-title">
                            <a href="/news/news1">Heart-shaped food for Valentine's Day </a>
                        </div>
                        <div class="new-date">
                            <span>February 14, 2015 | 10:20</span>
                        </div>
                        <div class="new-des">
                            Who knows, with a little ingenuity, you can do it too, so
                            what?
                        </div>
                    </div>
                </div>
                <div class="new-item col-md-12">
                    <div class="img">
                        <a href="/news/news1">
                            <img src="images/amthuc-ds-3.jpg" alt="" />
                        </a>
                    </div>
                    <div class="new-content">
                        <div class="new-title">
                            <a href="/news/news1">Creative cupcakes of the Christmas season</a>
                        </div>
                        <div class="new-date">
                            <span>09/01/2015 | 11:58</span>
                        </div>
                        <div class="new-des">
                            Check out these beautiful cupcakes for the Christmas season!
                        </div>
                    </div>
                </div>
                <div class="new-item col-md-12">
                    <div class="img">
                        <a href="/news/news1">
                            <img src="images/amthuc-ds-4.jpg" alt="" />
                        </a>
                    </div>
                    <div class="new-content">
                        <div class="new-title">
                            <a href="/news/news1"
                            >10 special dishes only in the 2014 World Cup season: From
                                pizza ... 2 football fields to Ronaldo's fried chicken combo
                                combo
                            </a>
                        </div>
                        <div class="new-date">
                            <span>02/07/2014 | 08:12</span>
                        </div>
                        <div class="new-des">
                            Let's take a look at 10 unique and attractive dishes only
                            available in this 2014 World Cup season!
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="main-title">Cuisine - Health</div>
                <div class="new-item col-md-12">
                    <div class="img">
                        <a href="/news/news1">
                            <img src="images/amthuc-sk-1.jpg" alt="" />
                        </a>
                    </div>
                    <div class="new-content">
                        <div class="new-title">
                            <a href="/news/news1"> Sagrifood - “Clean food for every family” </a>
                        </div>
                        <div class="new-date">
                            <span>06/16/2016 | 07:00</span>
                        </div>
                        <div class="new-des">
                            With the scale and modern advanced production technology,
                            Sagrifood has become one of the leading prestigious units in
                            the production and processing of agricultural products and
                            food on the market today.
                        </div>
                    </div>
                </div>
                <div class="new-item col-md-12">
                    <div class="img">
                        <a href="/news/news1">
                            <img src="images/amthuc-sk-2.jpg" alt="" />
                        </a>
                    </div>
                    <div class="new-content">
                        <div class="new-title">
                            <a href="/news/news1"> To choose delicious mushrooms </a>
                        </div>
                        <div class="new-date">
                            <span>18/02/2017 | 10:00</span>
                        </div>
                        <div class="new-des">
                            Depending on the different types of mushrooms, there are
                            different ways to choose. Some suggestions below will help you
                            choose to buy mushrooms safely.
                        </div>
                    </div>
                </div>
                <div class="new-item col-md-12">
                    <div class="img">
                        <a href="/news/news1">
                            <img src="images/amthuc-sk-3.jpg" alt="" />
                        </a>
                    </div>
                    <div class="new-content">
                        <div class="new-title">
                            <a href="/news/news1"> Drink to cool </a>
                        </div>
                        <div class="new-date">
                            <span>17/02/2017 | 09:00</span>
                        </div>
                        <div class="new-des">
                            Sau những ngày thoải mái với bánh tét, bánh chưng, ăn đồ chiên
                            nướng và uống có chất cồn thì việc thanh lọc cơ thể bằng những
                            món ăn thanh đạm được nhiều người nghĩ đến.
                        </div>
                    </div>
                </div>
                <div class="new-item col-md-12">
                    <div class="img">
                        <a href="/news/news1">
                            <img src="images/amthuc-sk-4.jpg" alt="" />
                        </a>
                    </div>
                    <div class="new-content">
                        <div class="new-title">
                            <a href="/news/news1"> Simple way to select of delicious crabs </a>
                        </div>
                        <div class="new-date">
                            <span>27/01/2017 | 09:00</span>
                        </div>
                        <div class="new-des">
                            Crab is one of the seafood containing a lot of calcium; mode
                            again.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer-bs">
    <%- include("footer") %>
</footer>
<script src="js/header_footer.js" type="text/javascript"></script>
</body>
</html>
