<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <base href="http://hellokittynodejs.herokuapp.com/"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/stylehome.css" type="text/css">
    <link rel="stylesheet" href="css/responsivehome.css" type="text/css">
    <link rel="stylesheet" href="css/news-1.css">
    <title>Trang chủ</title>
</head>
<body>
<header class="header" >
    <%- include("header")%>
</header>
<section class="main">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="main-news">
                <h2 class="main-title">
                    The special days not to be missed during the 2016 festive season at Caravelle Hotel
                </h2>
                <span class="title-content-time">
                    01/12/2016 18:49
                </span>
                <div class="content">
                    <h4 class="title-main">
                        Many exciting activities during the festive season are waiting for you to discover at Caravelle Hotel.
                    </h4>
                    <img src="images/news-1.jpg" alt="" class="title-img">
                    <h4 class="title-main">
                        Christmas Tea Party at Café de l'Opera
                    </h4>
                    <p class="title-content-time">
                        From December 7 - 31<br/>
                        12:30 p.m. to 5:30 p.m
                    </p>
                    <p class="title-content-main">
                        Let your senses sublimate with the familiar taste of tea parties filled with bustling Christmas atmosphere.
                        From December 7 to 31, we invite you to visit Café de l'Opera on the ground floor of Caravelle Saigon for
                        a traditional English afternoon tea. From noon to 5:30pm, guests will be served delicious sweet and savory cakes,
                        beautifully presented on a three-tier tray, served with premium Ronnefeldt tea or a glass of Veuve Clicquot champagne.
                        The price for one afternoon tea is VND 590,000++.
                    </p>
                    <h4 class="title-main">
                        Café de l'Opera - Ground floor
                    </h4>
                    <p class="title-content-main">
                        Price does not include 5% service charge and 10% VAT <br/>
                        For more information, please call (84) 906900523 or email: culinary@caravellehotel.com
                    </p>
                    <img src="images/news-2.jpg" alt="" class="title-img">
                    <h4 class="title-main">
                        Festive menu at Tapas Kitchen
                    </h4>
                    <p class="title-content-time">
                        From December 23 to 25, 2016 <br/>
                        December 31, 2016 and January 1, 2017 <br/>
                        From 10am to 11pm
                    </p>
                    <p class="title-content-main">
                        During this festive season, Tapas Kitchen's menu will be richer and more attractive than ever.
                        Colorful snacks made with signature ingredients from around the world, served with exotic vegetables, sauces and condiments will be served at VND198,000+. + / dish.
                        Visit Tapas Kitchen with your friends or partners to enjoy a light meal, sip a glass of spicy wine or a cold beer, and observe the ingenuity of the chefs in preparing delicious little Tapas dishes. and attractive.
                    </p>
                    <h4 class="title-main">
                        Tapas Kitchen - Ground Floor
                    </h4>
                    <p class="title-content-main">
                        Price does not include 5% service charge and 10% VAT <br/>
                        For more information, please call (84) 906900523 or email: culinary@caravellehotel.com <br/> <br/>

                        Early Christmas at Nineteen Restaurant <br/>
                        Friday, December 23 <br/> <br/>

                        On December 23, Caravelle Saigon will open the 2016 festive season with an early Christmas party at Nineteen restaurant.
                        Besides a variety of fresh seafood processed into delicious colorful dishes, your party will be more hearty than ever
                        with the new flavors of Yoshire pudding and honey grilled beef. fragrant honey with the presence of more than 20 appetizers
                        and desserts. Let's gather around the Christmas tree, enjoy a cozy party and wish each other a Merry Christmas at Nineteen
                        restaurant this December. <br> <br>

                        Early Christmas buffet price: <br> <br>

                        • VND 1,990,000++ including champagne, cocktails, beer and fine wines. <br>
                        • VND 1,690,000++ including cocktails, beers and fine wines. <br>
                        • VND 1,490,000 ++ including soft drinks, juices and non-alcoholic cocktails. <br>
                        • VND 1,390,000++ excluding drinks. <br> <br>

                        Nineteen Buffet Restaurant - Ground Floor
                        Price does not include 5% service charge and 10% VAT.
                        For more information, please call (84) 906900523 or email: culinary@caravellehotel.com
                    </p>
                    <img src="images/news-3.jpg" alt="" class="title-img">
                    <h4 class="title-main">
                        Christmas party at Nineteen restaurant
                    </h4>
                    <p class="title-content-time">
                        Ground Floor - December 24 and 25
                    </p>
                    <p class="title-content-main">
                        The Caravelle Hotel's famous seafood buffet restaurant, Nineteen, will remain the mainstay during
                        Christmas and New Year. Diners will surely always enjoy and be satisfied with traditional Vietnamese
                        dishes as well as new international flavors served in Christmas Eve dinner parties or lunch and dinner parties.
                        All are prepared by a team of experienced chefs... <br> <br>

                        The surprise visit of Santa Claus and the traditional Christmas carols with melodious, warm melodies and
                        the performance of the Jazz Quartet will be interesting highlights for the buffet at the restaurant here.
                        Performance time from 17:30 on December 24 and 11:30 on December 25. <br> <br>

                        Party prices on Christmas Eve (December 24): <br>
                        Dinner (17:00 – 19:30) <br>
                        VND 1,990,000++ (*) <br>
                        VND 1,690,000++ (**) <br>
                        VND 1,490,000++ (***) <br>
                        VND 1,390,000++ (****) <br>
                        <br>
                        Midnight Party (After 20:00) <br>
                        VND 2,580,000++ (*) <br>
                        VND 2,180,000++ (**) <br>
                        VND 2,080,000++ (***) <br>
                        VND 1,980,000++ (****) <br>
                        <br>
                        Party prices on Christmas Day (December 25): <br>
                        Luncheon (11:30 - 15:00) and Dinner (17:45 - 22:30):<br>
                        VND 2,990,000++ (*) <br>
                        VND 2,690,000++ (**) <br>
                        VND 2,590,000++ (***) <br>
                        VND 2,490,000++ (****) <br>
                        <br>
                        (*): includes champagne, cocktails, beer and fine wines. <br>
                        (**): including cocktails, beers and fine wines. <br>
                        (***): includes soft drinks, juices and non-alcoholic cocktails. <br>
                        (****): does not include drinks. <br>
                        <br>
                        Nineteen Buffet Restaurant - Ground Floor <br>
                        Price does not include 5% service charge and 10% VAT. <br>
                        For more information, please call (84) 906900523 or email: culinary@caravellehotel.com
                    </p>
                    <img src="images/news-4.jpg" alt="" class="title-img">
                    <h4 class="title-main">
                        Holiday gifts at Kara Spa
                    </h4>
                    <p class="title-content-time">
                        Throughout December 2016
                    </p>
                    <p class="title-content-main">
                        Greet the 2016 festive season with the natural beauty of glowing, healthy skin. The gift that
                        Kara Spa gives you is a gift certificate worth VND 400,000 when using from 90 minutes of relaxing
                        body massage services or facial and body treatments. “Spa devotees” will not only be satisfied with
                        the hospitality and professionalism of the Technicians, but also can fully trust the services here
                        because the products used at Kara Spa are of natural origin. Natural ingredients such as rice water extract,
                        black sesame and sea salt...
                    </p>
                    <h4 class="title-main">
                        Kara Spa - 7th floor
                    </h4>
                    <p class="title-content-main">
                        For more information, please call (848) 3823 4999 or email kara.spa@caravellehotel.com
                    </p>
                    <img src="images/news-5.jpg" alt="" class="title-img">
                    <h4 class="title-main">
                        Christmas booking offer
                    </h4>
                    <p class="title-content-main">
                        Valid for guests booking from December 9 to December 28 <br>
                        Caravelle Saigon is pleased to bring you a wonderful vacation with a special offer for Deluxe
                        room with only VND2,500,000++/room/night. <br>
                        <br>
                        Conditions apply: <br>
                        • Make a reservation at least 1 day in advance <br>
                        • Pay in advance at the time of booking <br>
                        • No cancellation of reservation <br>
                        • Do not change reservation information <br>
                        • Not combined with other promotions <br>
                        • Price does not include 5% service charge and 10% VAT <br>
                        • Subject to hotel availability at the time of booking <br>
                        <br>
                        For more information, please contact the Ticket Office in the hotel lobby.
                        Phone: (84-8) 3824 7155 - Hotline: (84) 906 900 523
                        Email: culinary@caravellehotel.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer-bs">
    <%- include("footer") %>
</footer>
</body>
</html>