<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://hellokittynodejs.herokuapp.com/"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/stylehome.css" type="text/css">
    <link rel="stylesheet" href="css/responsivehome.css" type="text/css">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="stylesheet" href="css/mklb.css" />
    <title>Trà Lipton cam thảo</title>
</head>
<body>
<header class="header" >
    <%- include("header")%>
</header>
<section class="main">
    <div class="container">
        <!--            Giới thiệu-->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-md-7">
                    <iframe width="640" height="360" src="https://www.youtube.com/embed/8TfpNWsHBwQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-5">
                    <h1>Trà Lipton cam thảo</h1>
                    <p>Trà Lipton cam thảo là một trong những biến tấu đặc biệt từ trà Lipton truyền thống,
                        được kết hợp giữa các nguyên liệu tự nhiên có hương thơm thanh mát và nhẹ nhàng.
                        Với cách làm đơn giản sẽ mang đến cho bạn thức uống tốt cho sức khỏe,
                        thích hợp thưởng thức vào những ngày oi bức hay muốn thanh lọc cơ thể.
                        Để hiểu rõ hơn về hương vị của món trà lipton cam thảo này,
                        hãy cùng tham khảo thêm phần công thức dưới đây nhé!</p>
                    <div class="row">
                        <div class="col-md-4 info">
                            <img src="images/difficulty.png">
                            <h4>Độ khó</h4>
                            <p>Rất dễ</p>
                        </div>
                        <div class="col-md-4 info">
                            <img src="images/time.png">
                            <h4>Thời gian</h4>
                            <p>20 phút</p>
                        </div>
                        <div class="col-md-4 info">
                            <img src="images/khauphan.png">
                            <h4>Khẩu phần</h4>
                            <p>2 người</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--            Công thức-->
            <div class="row">
                <div class="col-md-7">
                    <h2>Hướng dẫn thực hiện</h2>
                    <div class="step">
                        <a href="/do-uong/tralipton/#step1">1. Bước 1</a> <br/>
                        <a href="/do-uong/tralipton/#step2">2. Bước 2</a> <br/>
                        <a href="/do-uong/tralipton/#step3">3. Bước 3</a> <br/>
                        <a href="/do-uong/tralipton/#step4">4. Bước 4</a> <br/>
                    </div>
                    <ol>
                        <li id="step1">
                            <p>Cho 2 gói trà túi lọc Lipton nhãn vàng vào bình, rót 400ml nước sôi vào trà và đậy nắp để ủ khoảng 15 phút.</p>
                            <img class="mklbItem thump" src="images/1.1.jpeg" data-gallery="myGal" />
                            <img class="mklbItem thump" src="images/1.2.jpeg" data-gallery="myGal" />
                            <img class="mklbItem thump" src="images/1.3.jpeg" data-gallery="myGal" />
                            <img class="mklbItem thump" src="images/1.4.jpeg" data-gallery="myGal" />
                        </li>
                        <li id="step2">
                            <p>Sau khi ủ, bạn lấy bỏ túi trà ra và cho 30gr đường phèn vào, dùng muỗng khuấy đều.</p>
                            <img class="mklbItem thump" src="images/2.1.jpeg" data-gallery="myGal" />
                            <img class="mklbItem thump" src="images/2.2.jpeg" data-gallery="myGal" />
                            <img class="mklbItem thump" src="images/2.3.jpeg" data-gallery="myGal" />
                            <img class="mklbItem thump" src="images/2.4.jpeg" data-gallery="myGal" />
                        </li>
                        <li id="step3">
                            <p>Cho 20ml nước cốt chanh, thêm 10gr cam thảo cắt lát, 15gr táo tàu,15gr xí muội và 15gr kỷ tử vào phần trà.
                                Dùng muỗng khuấy đều để các nguyên liệu tăng thêm hương vị, giúp đồ uống đậm đà hơn.</p>
                            <img class="mklbItem thump" src="images/3.1.jpeg" data-gallery="myGal" />
                            <img class="mklbItem thump" src="images/3.2.jpeg" data-gallery="myGal" />
                            <img class="mklbItem thump" src="images/3.3.jpeg" data-gallery="myGal" />
                            <img class="mklbItem thump" src="images/3.4.jpeg" data-gallery="myGal" />
                        </li>
                        <li id="step4">
                            <p>Thêm đá viên vào ly, rót phần nước vào rồi cho phần topping lên trên cùng và thưởng thức.</p>
                            <img class="mklbItem thump" src="images/4.1.jpeg" data-gallery="myGal" />
                            <img class="mklbItem thump" src="images/4.2.jpeg" data-gallery="myGal" />
                            <img class="mklbItem thump" src="images/4.3.jpeg" data-gallery="myGal" />
                            <img class="mklbItem thump" src="images/4.4.jpeg" data-gallery="myGal" />
                        </li>
                    </ol>
                </div>
                <!--                Nguyên liệu-->
                <div class="col-md-5 resources">
                    <h2>Nguyên liệu</h2>
                    <ul>
                        <li>
                            <input type="checkbox">
                            <label>Lipton nhãn vàng 2 gói</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Cam thảo cắt lát 10gr</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Xí muội 15gr</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Đường phèn 30gr</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Nước cốt chanh 20ml</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Táo tàu 15gr</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Kỷ tử 15gr</label>
                        </li>
                    </ul>
                </div>
            </div>
            <!--            I made it-->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                I MADE IT
            </button>
            <!-- Modal -->
            <div class="row">
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Chỉa sẻ thành quả</h4>
                            </div>
                            <div class="modal-body">
                                <form action="#" method="get" class="form-group">
                                    <label>Tên</label>
                                    <input class="form-control" type="text">
                                    <label>Cảm nhận của bạn</label>
                                    <textarea class="form-control" rows="3" required></textarea>
                                    <label for="InputFile">File input</label>
                                    <input type="file" id="InputFile">
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Chia sẻ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            Bình luận-->
            <div class="row cmt col-md-12">
                <h3 class="name" id="name">Duong</h3>
                <p id="cmt">Ngon tuyệt vời, dễ làm</p>
                <img class="guestimg" id="guestimg" src="images/5.jpeg" style="width: 240px">
            </div>
            <!--            Món liên quan-->
            <div class="row">
                <div class="tag col-md-12">MÓN KHÁC</div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="recipes">
                        <a href="/do-uong/tralipton">
                            <img class="cover" src="images/recipe9.jpeg">
                            <h3>Mug Cake Dừa</h3>
                            <p>Mug Cake Dừa là một loại bánh bạn có thể hoàn thành một cách nhanh chóng chỉ trong vòng 10 phút.
                                Nếu bạn là một người bận rộn và yêu thích đồ ngọt, đây sẽ là một món hoàn hảo dành cho bạn.</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="recipes">
                        <a href="/do-uong/tralipton">
                            <img class="cover" src="images/recipe10.jpeg">
                            <h3>Opera Cake</h3>
                            <p>Opera là một loại bánh ngọt có nguồn gốc từ Pháp. Bánh Opera bao gồm 7 lớp, được làm từ cốt bánh hạnh nhân,
                                chocolate, syrup cà phê và kem bơ cà phê, tượng trưng cho 7 nốt nhạc.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="recipes">
                        <a href="/do-uong/tralipton">
                            <img class="cover" src="images/recipe11.jpeg">
                            <h3>Bánh Mì Mè Đen</h3>
                            <p>Bánh mì mè đen Hàn Quốc là một món ăn vặt rất được ưa chuộng trong giới trẻ hiện nay.
                                Bánh mì giòn bên ngoài, dẻo bên trong, hòa với mùi mè đen rang thơm lừng sẽ làm bạn ăn không ngừng đấy.  </p>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="recipes">
                        <a href="/do-uong/tralipton">
                            <img class="cover" src="images/recipe12.jpg">
                            <h3>Bánh cuốn</h3>
                            <p>Bánh Cuốn Nóng - món ngon dễ làm, cực hấp dẫn cho bữa sáng gia đình. Cách làm bánh cuốn
                                bằng chảo chống dính đơn giản, vỏ bánh cuốn dai, nhân nấm, thịt băm xào đậm vị, béo bùi, thật khó cưỡng lại.
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer-bs">
    <%- include("footer") %>
</footer>
<script src="js/jquery-3.6.0.min.js" type="text/javascript"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script src="js/main.js" type="text/javascript"></script>
<script src="js/mklb.js"></script>
</body>
</html>