* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

.container {
    background-color: #fff;
    padding: 0;
}

.header__navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #3c3d41;
    height: 52px;
    padding: 0 20px;
}

.nav__menu {
    display: flex;
    justify-content: space-around;
}

.nav__logo .nav__logo-link {
    text-decoration: none;
    color: #fff;
    line-height: 52px;
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
}

.nav__list {
    list-style: none;
    display: flex;
}

.nav__list .nav__item-link {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
    line-height: 52px;
}

.nav__list .nav__item-link:hover {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
}

.nav__hotline {
    line-height:52px;
}

.nav__hotline a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
}

.icon-list {
    font-size: 24px;
    line-height: 52px;
    color: #fff;
}

.menu-icon {
    display: none;
}

.nav__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    animation: fadeIn linear 0.2s;
}

.nav-mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #838385;
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
}

.nav-input:checked ~ .nav__overlay {
    display: block;
}

.nav-input:checked ~ .nav-mobile {
    opacity: 1;
}

@keyframes fadeIn {
    from {
       opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.menu-list {
    list-style: none;
    margin-left: 20px;
    margin-top: 20px;
}

.menu__item .menu__item-link {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 8px 0;
}

.menu__item .menu__item-link:hover {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
}

.nav-mobile-close {
    color: #666;
    position: absolute;
    top: 22px;
    right: 16px;
    font-size: 30px;
}

.box__img-header {
    margin-top: 52px;
    height: 690px;
}

.header__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

h2 .main-title {
    margin-left: 16px;
    text-decoration: none;
    color: #000;
}

.food {
    padding-top: 50px;
}

.food-hot__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 4px;
    transition: transform ease 0.5s;
}

.food-hot__img:hover {
    transform: scale(1.03);
}

.img-food {
    height: 370px;
}

.row {
    padding-bottom: 50px;
}

.food-name {
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

.footer-bs {
    background-color: #3c3d41;
	color: #fff;
    padding: 80px 40px 0 40px;
}

.footer-bs h2 {
    margin: 0 0 8px 0;
}

.social-list {
    margin-left: 14px;
}

.footer-bs ul a {
    text-decoration: none;
    color: #fff;
}